#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}

#cboxSlideshow {
  position: absolute;
  top: -20px;
  right: 90px;
  color: #fff;
}
#cboxPrevious {
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -32px;
  background: url("https://via.placeholder.com/28x65?text=<") no-repeat top left;
  width: 28px;
  height: 65px;
  text-indent: -9999px;
}
#cboxPrevious:hover {
  background-position: bottom left;
}
#cboxNext {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -32px;
  background: url("https://via.placeholder.com/28x65?text=>") no-repeat top
    right;
  width: 28px;
  height: 65px;
  text-indent: -9999px;
}
#cboxNext:hover {
  background-position: bottom right;
}
#cboxClose {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  background: url("https://via.placeholder.com/38x19?text=X") no-repeat top
    center;
  width: 38px;
  height: 19px;
  text-indent: -9999px;
}
#cboxClose:hover {
  background-position: bottom center;
}
